<%= form_for(@movie) do |f| %>
<%= f.error_messages %>
 <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
 </p>
 <div class="form_row">
    <label for="medium">Medium:</label>
    <% [ 'DVD', 'Blu-ray', 'CD-rom', 'VHS' ].each_with_index do |medium| %>
      <%= f.radio_button :medium, medium, :checked => (@movie.medium == medium) %>
      <%= f.label :medium, medium, :value => medium %>
    <% end %>
    
    <%= f.label :genre %>
    <%= f.select :genre, [['Action'],['Fantasy'],['Horror'],['Comedy'],['Thriller']] %>
 </div>

<p>
  <%= label_tag :tags %>
  <%= text_field_tag :tags, params[:tags] %>
</p>

 <p>
   <%= f.submit "Submit", :class => 'btn btn-small'%>
 </p>
 <p>
  <%= link_to "Back", 'javascript:history.back()', :class => 'btn btn-small' %>
 </p>
<% end %>


    >