<div id='movie'>
<h2><%= @movie.title %> -
    <%= @movie.medium%> </h2>

<div id='tags'><%= render @movie.library_object_tags %></div>
</div>
<%= link_to "Edit movie", edit_movie_path(@movie), :class => 'btn btn-small' %>

<%= link_to "Delete movie", @movie, :method => :delete,
  :confirm => "Are you sure you want to delete this movie?", :class => 'btn btn-small btn-danger' %>
</br>
</br>
<%= link_to "Add new movie", new_movie_path, :class => 'btn btn-primary btn-large' %>
</br>
</br>
  <%= link_to "Back to Movies", movies_path, :class => 'btn btn-small' %>