<div class="hero-unit">
 <h1><i class=" icon-screenshot"></i> Games <i class=" icon-screenshot"></i></h1>
  <p>Collection of games in da house!</p>
  <p>
       <%= link_to "New game", new_game_path, :class => 'btn btn-primary btn-large' %>
  </p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>System</th>
      <th>Genre</th>
      <th>Actions</th>
    </tr>
  </thead>
<tbody>
  <% @games.each do |game| %>
    <tr>
    <td><%= link_to game.title, game %></td>
    <td><%= game.system %></td>
    <td><%= game.genre %></td>
    <td><%= link_to "Edit game", edit_game_path(game), :class => 'btn btn-mini' %>
        <%= link_to "Delete game", game, :method => :delete,
        :confirm => "Are you sure you want to delete this game?", :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
  <% end %>
 </tbody>
</table>