<%= form_for(@music_object) do |f| %>
<%= f.error_messages %>
 <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
 </p>
 <div class="form_row">
    <label for="medium">Medium:</label>
    <% [ 'CD', 'DVD', 'Blu-ray', 'CD-rom', 'VHS' ].each_with_index do |medium| %>
      <%= f.radio_button :medium, medium, :checked => (@music_object.medium == medium) %>
      <%= f.label :medium, medium, :value => medium %>
    <% end %>
    
    <%= f.label :genre %>
    <%= f.select :genre, [['Pop'],['Rock'],['Metal'],['Classic'],['Industrial']] %>
 </div>
 <p>
  <%= f.submit "Submit", :class => 'btn btn-small'%>
 </p>
 <p>
  <%= link_to "Back", 'javascript:history.back()', :class => 'btn btn-small' %>
 </p>
<% end %>


