<%= form_for(@music_object) do |f| %>
<%= f.error_messages %>
 <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
 </p>
 <%= f.submit "Submit"%>
<% end %> <p>
  <%= link_to "Back", 'javascript:history.back()', :class => 'btn btn-small' %>
 </p>
