<%= form_for(@music_object) do |f| %>
 <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
 </p>
 <%= f.submit "Create music object" %>
<% end %>